{% extends 'layout.html' %}
{% block content %}
<h2>{{ flow_name }} - {{ job_topic }} : Step 3 - Cutout</h2>

<form method="post">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Net Name</th>
        <th>Import</th>
        <th>Port</th>
        <th>Pwr/Gnd</th>
      </tr>
    </thead>
    <tbody>
      {% for net in nets %}
      <tr>
        <td>{{ net }}</td>
        <td><input type="checkbox" name="import_{{ net }}"></td>
        <td><input type="checkbox" name="port_{{ net }}"></td>
        <td><input type="checkbox" name="pwr_{{ net }}"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary">Next</button>
</form>

{% endblock %}
