{% extends 'layout.html' %}
{% block content %}
<h2>{{ t('Jobs Information') }}</h2>
{% if jobs %}
<table class="table">
  <thead>
      <tr>
        <th>{{ t('User') }}</th>
        <th>{{ t('Flow Name') }}</th>
        <th>{{ t('Topic') }}</th>
        <th>{{ t('Time') }}</th>
        <th>{{ t('Step') }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
      <tr>
        <td>{{ job.user }}</td>
        <td>{{ job.flow_id }}</td>
        <td>{{ job.topic }}</td>
        <td>{{ job.created_at }}</td>
      <td>{{ job.step }}</td>
      <td>
        <form action="{{ url_for('admin.delete_job', job_id=job.id) }}" method="post" style="display:inline" onsubmit="return confirmDelete();">
          <button type="submit" class="btn btn-sm btn-danger">{{ t('Delete') }}</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>{{ t('No jobs found.') }}</p>
{% endif %}
{% endblock %}
